<!doctype html>
<html>
	<head>
		<title>Bhnadari Group</title>
	</head>
	<body>
		<header><img src="/images/logo.jpg" alt="Bhandari Logo" style="width:100px;height:100px;"></header>
		{{{body}}}
	</body>
</html>
